<button mat-button (click)="openDialog1('Add',{})" mat-flat-button color="primary">Add Row</button>
  

<h1 *ngIf="showStudentData" class="h2 text-success text-center">Students Added</h1>
<table *ngIf="showStudentData" class="table">
  <thead class="text-success">
    <tr>
    <th scope="col" >name</th>
    <th scope="col">studentId</th>
    <th scope="col">emailId</th>
    <th scope="col">branch</th>
    <th scope="col">district</th>
    </tr>
  </thead>
  <tbody>
  <tr scope="row" *ngFor="let student of addedStudentData">
    <td>{{student['name']}} </td>
    <td>{{student['studentId']}} </td>
    <td>{{student['emailId']}} </td>
    <td>{{student['branch']}} </td>
    <td>{{student['district']}} </td>
  </tr>
</tbody>
</table>

