

<div class="container">
  <div class="mt-5">
  <mat-tab-group>
    <mat-tab label="See Student details">
      <mat-form-field appearance="legacy">
        <mat-label>Select Student</mat-label>
        <mat-select (selectionChange)="displayData($event)"> 
          <mat-option *ngFor="let student of studentData;let i=index" [value]="student.studentId">{{student.name}} </mat-option>
        </mat-select>
      </mat-form-field>


      <h1 *ngIf="showStudentData" class="h2 text-success text-center">Student Details</h1>
      <table *ngIf="showStudentData" class="table">
        <thead class="text-success">
          <tr>
          <th scope="col" >name</th>
          <th scope="col">studentId</th>
          <th scope="col">emailId</th>
          <th scope="col">branch</th>
          <th scope="col">district</th>
          </tr>
        </thead>
        <tbody>
        <tr scope="row">
          <td>{{selectedStudentData['name']}} </td>
          <td>{{selectedStudentData['studentId']}} </td>
          <td>{{selectedStudentData['emailId']}} </td>
          <td>{{selectedStudentData['branch']}} </td>
          <td>{{selectedStudentData['district']}} </td>
        </tr>
      </tbody>
      </table>
  
    </mat-tab>
    <mat-tab label="Add Students">
      <app-task></app-task>

    </mat-tab>
  </mat-tab-group>
</div>











<!-- 
<h1 class="h2 text-success text-center">List Of Students </h1>
<div class="text-right">  
  <button class="btn btn-success" (click)="clearData()" data-target="#modal1" data-toggle="modal">add Student</button>
</div> -->
<!--  table to display the student data-->
<!-- <table class="table">
  <thead>
    <tr>
     <th scope="col">Student Name</th>
     <th scope="col">Student Id</th>
     <th scope="col">Email Id</th>
     <th scope="col">Branch</th>
     <th scope="col">District</th>
  </tr>
  </thead>
  <tbody>
     displaying the data by  iterating the studentData variable 
  <tr *ngFor="let student of studentData;let i=index" scope="row">
    <td> {{student.name}} </td>
    <td> {{student.studentId}} </td>
    <td> {{student.branch}} </td>
    <td> {{student.emailId}} </td>
    <td> {{student.district}} </td>
      button to edit data-->
    <!-- <td><button class="btn btn-success" (click)="editData(student,i)" data-toggle="modal" data-target="#modal">edit</button></td> -->
    <!--button to delete data-->
    <!-- <td><button class="btn btn-danger" (click)="deleteData(i)">delete</button></td> 
  </tr>
</tbody>
</table> -->
<!--  modal to open when clicking on edit button-->
<!-- <div class="modal" #modal1 id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Edit Data

      </div>
      <div class="modal-body">
        <form [formGroup]="studentDAta" (ngSubmit)="submitData()">
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name"  formControlName="name">

          </mat-form-field></div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Student Id</mat-label>
            <input matInput type="text" name="name"  formControlName="studentId">

          </mat-form-field></div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Branch</mat-label>
            <input matInput type="text" name="name"  formControlName="branch">

          </mat-form-field></div> 
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput type="text" name="name"  formControlName="emailId">

          </mat-form-field>
        </div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label>District</mat-label>
            <input matInput type="text" name="name"  formControlName="district">

          </mat-form-field>
        </div>


        </form>

      </div>
      <div class="modal-footer"> 
        <button  class="btn btn-success" type="submit"  (click)="submitData()" data-dismiss="modal">save</button>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="modal" #modal1 id="modal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Edit Data

      </div>
      <div class="modal-body">
        <form [formGroup]="studentDAta" (ngSubmit)="submitData()">
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name"  formControlName="name">

          </mat-form-field></div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Student Id</mat-label>
            <input matInput type="text" name="name"  formControlName="studentId">

          </mat-form-field></div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Branch</mat-label>
            <input matInput type="text" name="name"  formControlName="branch">

          </mat-form-field></div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput type="text" name="name"  formControlName="emailId">

          </mat-form-field>
        </div>
          <div>
          <mat-form-field appearance="outline">
            <mat-label>District</mat-label>
            <input matInput type="text" name="name"  formControlName="district">

          </mat-form-field>
        </div>


        </form>

      </div>
      <div class="modal-footer"> 
        <button  class="btn btn-success" type="submit"  (click)="addData()" data-dismiss="modal">save</button>
      </div>
    </div>
  </div>
</div> -->






















<!-- 
<mat-table #table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
    <mat-header-cell *matHeaderCellDef> {{col}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element[col]}} </mat-cell>

 
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns">

  </mat-header-row>
  <mat-row *matRowDef="let row ;columns:displayedColumns"></mat-row>

</mat-table> -->

</div>
<!-- <router-outlet>
  <app-mattable></app-mattable>
</router-outlet> -->
 <!--The content below is only a placeholder and can be replaced.-->


<!--  formarray example dynamically creating formcontrols-->
<!-- <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
  <label for="name">enter name</label>
  <input type="text" name="name" id="name" formControlName="name">
  <p>
    <button type="submit">submit</button>
  </p>
  <div formArrayName="skills"> 
    <div *ngFor="let skill of skills.controls; let i=index">
      <div [formGroupName]="i">
        skill:
        <input type="text" name="skill" formControlName="skill" id="">
        exp:
        <input type="text" name="exp" formControlName="exp" id="">
      </div>
      <button>submit</button>
      <button (click)="removeSkill(i)">remove</button>
    
    </div>
    
    </div>

</form>

<p><button (click)="addSkills()">
  add skill
</button></p> -->