<p>mattable works!</p>
<p>mattable works in mybranch</p>
<!-- app.component.html -->
<div class="container text-center">

    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
  
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Edit</a> | 
          <a (click)="openDialog('Delete',element)">Delete</a>  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
  <div class="container text-center">

    <button mat-button (click)="openDialog1('Add',{})" mat-flat-button color="primary">Add Row</button>
  
    <table mat-table [dataSource]="dataSource1" #myTable1 class="my-table mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Id Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef> Student Id </th>
        <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
      </ng-container>
      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef> Branch </th>
        <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
      </ng-container>
      <ng-container matColumnDef="emailId">
        <th mat-header-cell *matHeaderCellDef> Email Id </th>
        <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
      </ng-container>
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef> District </th>
        <td mat-cell *matCellDef="let element"> {{element.district}} </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog1('Update',element)">Edit</a> | 
          <a (click)="openDialog1('Delete',element)">Delete</a>  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
  
  </div>
  
  <!-- <mat-table #table [dataSource]="dataSource1">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns1">
      <mat-header-cell *matHeaderCellDef> {{col}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[col]}} </mat-cell>
       
          <a (click)="openDialog('Update',element)">Edit</a> | 
          <a (click)="openDialog('Delete',element)">Delete</a>  
        
  
   
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns1">
  
    </mat-header-row>
    <mat-row *matRowDef="let row ;columns:displayedColumns1"></mat-row>
  
  </mat-table> -->