<div *ngIf="add">
  <h1 mat-dialog-title><strong>{{action}} Student Details</strong></h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} studentId" matInput [(ngModel)]="local_data.studentId">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Branch" matInput [(ngModel)]="local_data.branch">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.emailId">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} District" matInput [(ngModel)]="local_data.district">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
  </div>



































<!-- dialog-box.component.html -->
<div *ngIf="update">
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <!-- <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} studentId" matInput [(ngModel)]="local_data.studentId">
  </mat-form-field> -->
  <!-- <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Branch" matInput [(ngModel)]="local_data.branch">
  </mat-form-field> -->
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.emailId">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} District" matInput [(ngModel)]="local_data.district">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
</div>
<div *ngIf="delete">
  <h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
  <div mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
      <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <!-- <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
      <input placeholder="{{action}} studentId" matInput [(ngModel)]="local_data.studentId">
    </mat-form-field> -->
    <!-- <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
      <input placeholder="{{action}} Branch" matInput [(ngModel)]="local_data.branch">
    </mat-form-field> -->
    <!-- <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
      <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.emailId">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
      <input placeholder="{{action}} District" matInput [(ngModel)]="local_data.district">
    </mat-form-field> -->
    <ng-template #elseTemplate>
      Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
  </div>